body {
  margin:0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.topnav-right {
  float: right;
}

.maindiv{
  padding:20px;
  margin-top:30px;
  background-color:#5DD39E;
  height:200vh;
}

.title{
  text-align: center;
}

.questionsImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.versusImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.summary {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}