body {
    margin:0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .topnav-right {
    float: right;
  }
  
  .maindiv{
    padding:20px;
    margin-top:30px;
    background-color:#5DD39E;
    height:100vh;
  }
  
  .title{
    text-align: center;
  }

  .app{
    background-color: whitesmoke;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    border: 2px solid black;
  }
  
  .questionClass{
    text-align: center;
  }
.app h1{
    font-size: 25px;
    color:whitesmoke;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    font-weight: 600;
    
}

.buttons{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.btn{
    display: block;
    margin: auto;
    font-family: "Poppins", sans-serif;
    background: whitesmoke;
    color: black;
    font-weight: 700;
    width: 90%;
    border: 2px solid black;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    background-color: black;
    color: whitesmoke;
}

.next{
    display: block;
    margin: auto;
    font-family: "Poppins", sans-serif;
    background: whitesmoke;
    color: black;
    font-weight: 700;
    width: 10%;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.next:hover{
    background-color: black;
    color: whitesmoke;
}